@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

.newTask{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: 'Poppins',sans-serif;
}

textarea{
    width: 400px;
    font-family: 'Poppins',sans-serif;
    /* border: none; */
    /* border-bottom: 1px solid salmon; */
}

button{
    width: 100px;
    font-family: 'Poppins',sans-serif;
}